body {
    background-image: url("../../images/fonds_pages/fond_caverne.png");
}

@media (min-width: 765px) {
}


@media (max-width: 765px) and (min-width: 360px) {

}


@media (max-width: 360px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 10px
    }
}