/* Importation de la police */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Polices Appliquées */
h1 {
    font-size: 40px;
    font-family: "Saira Condensed";
}

h2 {
    font-size: 20px;
    font-family: "Arial";
    color: rgba(255, 255, 255, 0.9);
}

body {
    background-image: url("../../images/fonds_pages/fond_caverne.png");
    background-size: cover;
}

@media (min-width: 765px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;


        background-attachment: fixed;
        z-index: -1;

        color: white;
    }

    main {
        display: flex;
        flex-direction: column;

        width: 75%;
        padding: 20px;

        border-radius: 5px;
        box-shadow: 1px 0px 5px 5px rgb(151, 151, 151);
        background-color: rgba(70, 69, 69, 0.8);
    }

    .accroche {
        display: flex;
        flex-direction: column;
        text-align: center;

        padding-bottom: 50px;
    }

    .line {
        align-self: center;
        width: 100%;
        height: 4px;
        background: linear-gradient(to right, transparent, black, transparent);
    }

    .nav_boutique {
        display: flex;
        justify-content: center;
        gap: 20px;

        font-family: "Bebas Neue";
    }

    .nav_boutique a {
        text-decoration: none;
        color: white;

        font-size: 3vw;

        padding: 10px;
        border-radius: 5px;
        background-color: #2E2978;

        display: inline-block;
        border-radius: 8px;
        transition: all 0.3s ease;
    }

    .nav_boutique a:hover {
        transform: scale(1.05);
    }
}


@media (max-width: 765px) and (min-width: 360px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: url("../png/fondspages/fond_boutique.png");
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;

        color: white;
    }

    main {
        display: flex;
        flex-direction: column;

        width: 100%;

        border-radius: 5px;
        box-shadow: 1px 0px 5px 5px rgb(151, 151, 151);
        background-color: rgba(70, 69, 69, 0.8);
    }

    .accroche {
        display: flex;
        flex-direction: column;
        text-align: center;

        padding-bottom: 50px;
    }

    .line {
        align-self: center;
        width: 100%;
        height: 4px;
        background: linear-gradient(to right, transparent, black, transparent);
    }
}


@media (max-width: 360px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 10px
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: url("../png/fondspages/fond_boutique.png");
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;

        color: white;
    }

    main {
        display: flex;
        flex-direction: column;

        width: 100%;

        border-radius: 5px;
        box-shadow: 1px 0px 5px 5px rgb(151, 151, 151);
        background-color: rgba(70, 69, 69, 0.8);
    }

    .accroche {
        display: flex;
        flex-direction: column;
        text-align: center;

        padding-bottom: 50px;
    }
}